In [2]:
import numpy as np
import seaborn as sns
import pandas as pd

In [3]:
df = pd.read_csv("dataset/bitcoin.csv")

In [4]:
df.head()

         Date  Open  High   Low  Close    Vol.
0  2013-01-01  13.5  13.6  13.2   13.3  28.41K
1  2013-01-02  13.3  13.4  13.2   13.3  17.97K
2  2013-01-03  13.3  13.5  13.3   13.4  18.03K
3  2013-01-04  13.4  13.5  13.3   13.5  29.64K
4  2013-01-05  13.5  13.6  13.3   13.4  21.33K

In [5]:
df.describe()

               Open          High           Low         Close
count   3793.000000   3793.000000   3793.000000   3793.000000
mean   11233.252307  11529.297996  10904.581545  11240.315766
std    15421.568722  15827.119004  14960.319732  15422.533996
min       13.300000     13.400000     13.200000     13.300000
25%      450.300000    459.600000    441.900000    451.400000
50%     5208.300000   5322.900000   5033.700000   5209.100000
75%    14976.200000  15648.300000  13902.300000  15043.000000
max    67528.700000  68990.600000  66334.900000  67527.900000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3793 entries, 0 to 3792
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3793 non-null   object
 1   Open    3793 non-null   float64
 2   High    3793 non-null   float64
 3   Low     3793 non-null   float64
 4   Close   3793 non-null   float64
 5   Vol.    3793 non-null   object
dtypes: float64(4), object(2)
memory usage: 177.9+ KB

In [7]:
df.shape

(3793, 6)

In [9]:
#creating a new feature 
closed = df[['Date','Close']]
closed.shape

(3793, 2)